.projects_section {
  max-width: 80%;
  width: var(--width-web-content);
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: var(--padding-web-content);
}

.project_card{
  background: radial-gradient(circle at center, #1a2a6c 0%, #b21f1f 50%, #fdbb2d 100%);
  background-size: 300% 300%;
  animation: radialZoom 10s ease-in-out infinite alternate;
  z-index: -1;
  max-width: 100%;
  width: 500px;
  max-height: 650px;
  height: max-content;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding: 40px;
  border-radius: var(--border-radius);
  position: relative;
  gap: 10px;
  animation: radialZoom 5s ease-in-out infinite alternate;

  .project_image_container {
    width: 90%;
  }

  h2 {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    background: var(--color-text-gradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-align: center;
    max-width: 90%;
    width: 52ch;
    font-size: var(--font-size-paragraph);
    font-weight: var(--font-weight-paragraph);
  }

  .project_icons_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    span {
      width: fit-content;
      height: fit-content;
      > * {
        width: 40px;
        height: 40px;
      }
    }

  }
}

@keyframes radialZoom {
    0% { background-size: 200% 200%; }
    100% { background-size: 400% 400%; }
} 

/* Clases para añadir a los projectos filtrados */
.js > svg {
color: #F7DF1E;
}
.react > svg {
color: #61DAFB;
}
.css > svg {
color: #1572B6;
}
.tailwind > svg {
color: #06B6D4;
}
.html > svg {
color: #E34F26;
}
.ts > svg {
color: #3178C6;
}
.git > svg {
color: #F05032;
}
.gitHub > svg {
  fill: #F05032;
  circle {
    fill: #181717;
  }
}
.gsap > svg > * {
fill: #0ae448;
}