.projects_section {
  /* position: fixed; */
  top: 0;
  max-width: 100%;
  width: var(--width-web-content);
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  font-size: var(--font-size-subtitle);
  color: transparent;
  /* Aquí es donde aplicamos la máscara para que el texto sea transparente */
  -webkit-mask-image: linear-gradient(#000, #000); /* Una máscara sólida negra que cubre todo el elemento */
  mask-image: linear-gradient(#000, #000);
    /* Esta propiedad es CRUCIAL para "excluir" el texto de la máscara */
  -webkit-mask-composite: xor;
  mask-composite: exclude; /* Equivalente moderno de xor */
  /* Para mejorar el renderizado del texto con la máscara (opcional pero recomendado) */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: var(--color-bg-button-gradient); */
    z-index: -3;
  }
}
