.paragraph {
  text-transform: uppercase;
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-paragraph);
  line-height: .8;
}

.hero {
  position: relative;
  max-width: 100%;
  width: 100vw;
  max-height: 100%;
  height: 100svh;
  background-color: #111117;
  overflow: hidden;
}

.hero_img_container,
.hero_img_container img,
.fade_overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100vw;
  height: 100%;
}

.hero_img_container > :first-child {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.hero_img_title {
  position: absolute;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: auto;
  object-fit: contain;
  z-index: 1;

  img {
    width: 100%;
    height: auto;
    mask-image: linear-gradient(
    to bottom,
    black 70%,
    transparent 100%
  );
   -webkit-mask-image: linear-gradient(
    to bottom,
    black 70%, 
    transparent 100% 
  );
  }
}

.hero_img_copy {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  will-change: opacity;
}

.hero_img_copy {
  font-size: .65rem;
}

.fade_overlay {
  background-color: #fff;
  will-change: opacity;
  pointer-events: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 49.5% 19%;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.title_container{
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 150px;
  z-index: 2;
  pointer-events: none;
}

.overlay_copy {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  text-align: center;
  pointer-events: none;
  width: 100%;
  height: min-content;
}

.overlay_copy h1 {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transform-origin: center 0%;
  text-transform: uppercase;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  letter-spacing: -.2rem;
  line-height: 0.9;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

@media (max-height: 600px) {
  .overlay {
  top: 15;
  transform-origin: 49.5% 19%;
}
  .overlay_copy {
  bottom: 0%;
  }
}

@media(max-width: 1600px) {
  .hero_img_title {
    top: 30%;
    left: 70%;
  }
}
@media(max-width: 1300px) {
  .hero_img_title {
    top: 30%;
    left: 75%;
  }
}
@media(max-width: 1050px) {
  .hero_img_title {
    top: 30%;
    left: 80%;
  }
}
@media (max-width: 900px) {
  .overlay {
  transform-origin: 49% 19%;
  }

  .overlay_copy h1 {
    letter-spacing: 0;
  }

  .hero_img_title {
    top: 30%;
    left: 82%;
  }

  .overlay_copy {
    width: 100%;
  }
}
@media(max-width: 850px) {
  .hero_img_title {
    top: 3%;
    left: 70%;

    img {
      mask-image: linear-gradient(
        to bottom,
        black 20%,
        transparent 100%
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 20%, 
        transparent 100% 
      );
    }
  }
}
@media(max-width: 500px) {
  .hero_img_title {
    top: 5%;
    left: 70%;

    img {
      mask-image: linear-gradient(
        to bottom,
        black 20%,
        transparent 100%
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 20%, 
        transparent 100% 
      );
    }
  }
}