.projects_section {
  max-width: 80%;
  width: var(--width-web-content);
  height: auto;
  position: relative;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects_cards_container{
  display: grid;
  max-width: 100%;
  width: var(--width-web-content);
  height: auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(425px, 575px));
  grid-template-rows: auto;
}

.project_card{
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  place-items: center;
  border-radius: var(--border-radius);
  position: relative;
  border: .5px solid var(--border-color);
  background-color: var(--color-bg-web);

  .project_card_overlay {
    position: absolute;
    inset: 6%;
    background-color: transparent;
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.6);
    z-index: -3;
    border-radius: var(--border-radius);
    transition: inset .2s ease-in-out;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover .project_card_overlay {
      inset: .5%;
    }
  }
  @media (hover: none) and (pointer: coarse) {
    &:active .project_card_overlay {
      inset: .5%;
    }
  }

  .project_image_container {
    width: 100%;
    height: 200px;
    clip-path: path("M 0 156 L 19.2 158.3 C 38.4 160.7 76.8 165.3 114.9 172.5 C 153.1 179.7 191.0 189.3 229.2 191.7 C 267.4 194 305.8 189 343.9 183.7 C 382.0 178.3 420.0 172.7 458.2 167 C 496.3 161.3 534.8 155.7 553.9 152.8 L 573 150 L 573 0 L 0 0 Z");
    margin-bottom: -42px;

    > img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
      object-position: 0px -85px;
      border-radius: var(--border-radius);
      box-sizing: border-box;
    }
  }

  .projec_text_container {
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 50px;
    margin-bottom: -42px;
    background: var(--color-background-gradient);
    background-size: 300% 300%;
    animation: radialZoom 5s ease-in-out infinite alternate;
    clip-path: path("M 0 6 L 19.2 8.3 C 38.4 10.7 76.8 15.3 114.9 22.5 C 153.1 29.7 191.0 39.3 229.2 41.7 C 267.4 44 305.8 39 343.9 33.7 C 382.0 28.3 420.0 22.7 458.2 17 C 496.3 11.3 534.8 5.7 553.9 2.8 L 573 0 L 573 350 L 553.9 352.8 C 534.8 355.7 496.3 361.3 458.2 367 C 420.0 372.7 382.0 378.3 343.9 383.7 C 305.8 389 267.4 394 229.2 391.7 C 191.0 389.3 153.1 379.7 114.9 372.5 C 76.8 365.3 38.4 360.7 19.2 358.3 L 0 356 Z");
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, .3);
      z-index: -1;
    }

    h3 {
      font-size: var(--font-size-subtitle);
      font-weight: var(--font-weight-subtitle);
      background: var(--color-text-gradient);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    }
  
    div {
      width: 100%;
      p {
        text-align: left;
        max-width: 100%;
        width: 52ch;
        font-size: var(--font-size-paragraph);
        font-weight: var(--font-weight-paragraph);
        + p {
          margin-top: 1lh;
        }
      }
    }
  }

  .project_icons_container {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    margin-bottom: -42px;
    flex-wrap: wrap;
    padding: 30px;
    background: var(--color-background-gradient);
    background-size: 300% 300%;
    animation: radialZoom 5s ease-in-out infinite alternate;
    clip-path: path("M 0 6 L 19.2 8.3 C 38.4 10.7 76.8 15.3 114.9 22.5 C 153.1 29.7 191.0 39.3 229.2 41.7 C 267.4 44 305.8 39 343.9 33.7 C 382.0 28.3 420.0 22.7 458.2 17 C 496.3 11.3 534.8 5.7 553.9 2.8 L 573 0 L 573 130 L 553.9 132.8 C 534.8 135.7 496.3 141.3 458.2 147 C 420.0 152.7 382.0 158.3 343.9 163.7 C 305.8 169 267.4 174 229.2 171.7 C 191.0 169.3 153.1 159.7 114.9 152.5 C 76.8 145.3 38.4 140.7 19.2 138.3 L 0 136 Z");
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, .3);
      z-index: -1;
    }

    span {
      margin-top: 20px;
      width: fit-content;
      height: fit-content;
      > * {
        width: 40px;
        height: 40px;
      }
    }
  }

  .links_container {
    overflow: hidden;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 15px;
    padding: 30px;
    background: var(--color-background-gradient);
    background-size: 300% 300%;
    animation: radialZoom 5s ease-in-out infinite alternate;
    clip-path: path(
      "M0 6 L19.2 8.3 C38.4 10.7 76.8 15.3 114.9 22.5 C153.1 29.7 191 39.3 229.2 41.7 C267.4 44 305.8 39 343.9 33.7 C382 28.3 420 22.7 458.2 17 C496.3 11.3 534.8 5.7 553.9 2.8 L573 0 L573 260 L553.9 260 C534.8 260 496.3 260 458.2 260 C420 260 382 260 343.9 260 C305.8 260 267.4 260 229.2 260 C191 260 153.1 260 114.9 260 C76.8 260 38.4 260 19.2 260 L0 260 Z"
    );
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, .3);
      z-index: -1;
    }
    > a {
      width: 100%;
    }
    > a:first-child {
      margin-top: 30px;
    }
    svg {
      width: 30px;
      height: 30px;
      transition: stroke .2s ease-in-out, fill .2s ease-in-out;
      &[data-key="npm"] {
        width: 40px;
      }
    }
    @media (hover: hover) and (pointer: fine) {
      > *:hover svg[data-key="demo"] {
        stroke: #181717;
      }
      > *:hover svg[data-key="gitHub"] {
        fill: #181717;
      }
      > *:hover svg[data-key="storybook"] {
        transform: scale(1.2);
        path:nth-child(2) {
          mask: none;
          fill: #FF4785;
        }
        path:nth-child(3) {
          fill: #fff;
        }
      }
      > *:hover svg[data-key="npm"] {
        fill: #cc3534;
        > path {
          stroke: #000;
        }
      }
    }
    @media (hover: none) and (pointer: coarse) {
      > *:active svg[data-key="demo"] {
        stroke: #181717;
      }
      > *:active svg[data-key="gitHub"] {
        fill: #181717;
      }
    }
  }
}

@keyframes radialZoom {
    0% { background-size: 200% 200%; }
    100% { background-size: 400% 400%; }
} 

/* Clases para añadir a los projectos filtrados */
.js > svg {
color: #F7DF1E;
}
.react > svg {
color: #61DAFB;
}
.css > svg {
color: #663399;
}
.tailwind > svg {
color: #06B6D4;
}
.html > svg {
color: #E34F26;
}
.ts > svg {
color: #3178C6;
}
.git > svg {
stroke: #F05032;
}
.gitHub > svg {
  fill: #F05032;
  circle {
    fill: #181717;
  }
}
.gsap > svg > * {
fill: #0ae448;
}
.storybook > svg {
  path:nth-child(2) {
    mask: none;
    fill: #FF4785;
  }
  path:nth-child(3) {
    fill: #fff;
  }
}
.vite > svg {
  path:nth-child(1) {
    fill: #ffcd25;
  }
  path:nth-child(2) {
    fill: #8679fe;
  }
}
.npm > svg {
  fill: #cc3534;
  > path {
    stroke: #000;
  }
}

@media (max-width: 519px) {
  .projects_cards_container{
    grid-template-columns: repeat(auto-fit, 350px);
  }

  .project_card .project_image_container > img{
    object-position: 0 -32px;
  }

  .project_card .project_icons_container span > * {
    width: 30px;
    height: 30px;
  }
}