/* Overlay */
.overlay {
  display: none;
}

/* Nav Header */
.nav_header {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: var(--width-web-content);
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-nav);
  background-color: var(--bg-blur-transparent);
  backdrop-filter: blur(20px);
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -100%);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.nav_header.show {
  opacity: 1;
  pointer-events: unset;
  transform: translate(-50%, 0%);
}

.nav_logo{
  display: flex;
  align-items: center;
  width: 173px;
  height: 60px;
  background-size: cover;
}

.nav_links {
  display: flex;
  width: 80%;
  height: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  
  li {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    &:hover {
        outline: 2px solid rgb(0, 201, 255);
        border-radius: 12px;
        box-shadow: inset 0 0 20px 10px rgba(0, 201, 255, .3);
      }

    a {
      align-content: center;
      width: fit-content;
      height: fit-content;
      padding: 20px;
      text-decoration: none;
      font-weight: var(--font-weight-nav);
      font-size: var(--font-size-nav);
      cursor: pointer;
      background: var(--color-text-gradient);
      color:transparent;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      transition: transform .2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }  
  }
}

.nav_icon {
  display: none;
  position: fixed;
  top: 15px;
  right: 30px;
  width: 46px;
  height: 46px;
  cursor: pointer;
  z-index: 999;
  transition: transform .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }

  .checkbox {
    width: 100%;
    height: 100%;
  }
  .stroke_1{
    position: absolute; 
    top: 25%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: var(--color2-text-gradient);
    transition: top .3s ease-in-out, transform .3s ease-in-out;
  }
  .stroke_2{
    position: absolute; 
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: var(--color2-text-gradient);
    transition: opacity .2s ease-in-out;
  }
  .stroke_3{
    position: absolute; 
    top: 75%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 5px;
    background: var(--color2-text-gradient);
    transition: top .3s ease-in-out, transform .3s ease-in-out;
  }

  .checkbox:checked ~ .stroke_1 {
    transform: translateY(160%) rotate(45deg);
    background: var(--color-bg-button-hover-gradient);
  }
  .checkbox:checked ~ .stroke_2 {
    opacity: 0;
    background: var(--color-bg-button-hover-gradient);
  }
  .checkbox:checked ~ .stroke_3 {
    transform: translateY(-280%) rotate(-45deg);
    background: var(--color-bg-button-hover-gradient);
  }
}

/* Menu Mobile */
@media(width < 600px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: visible;
    pointer-events: none;
    background-color: var(--bg-blur-transparent);
    backdrop-filter: blur(20px);
    z-index: 97;
  }

  .nav_links {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    width: 50%;
    height: 100vh;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity .3s ease-in-out, background .3s ease-in-out, transform .3s ease-in-out,  visibility 0s linear 0.5s; 
  }
  .nav_header:has(.checkbox:checked) ~ .overlay {
    display: block;
  }
  .nav_icon:has(.checkbox:checked) ~ .nav_links {
    visibility: visible;
    pointer-events: unset;
    background: var(--color-bg-button-gradient);
    backdrop-filter: blur(20px) ;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity .3s ease-in-out, background .3s ease-in-out, transform .3s ease-in-out, visibility 0s linear 0s; 
  }
  .nav_icon:has(.checkbox:checked) ~ .nav_links li {
    width: fit-content;
    height: 100px;
    a{
      color: var(--color-nav-text-checked);
    }
  }
  
  .nav_icon {
    display: block;
  }
  
  /* Cuando el menu mobile esté abierto evitamos el scroll */
  body:has(.checkbox:checked) {
    overflow: hidden;
  }
}