.animated_bg_hero_section {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #111117 0%, rgba(17, 17, 23, 0) 100%);
  z-index: -9999;
  overflow: hidden;

  &::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* capa negra con 30% de opacidad */
  pointer-events: none;
  z-index: 1;
  }

  .objects_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0 5px;
    padding: 0 5px;
    width: 100%; 
        
    span {
      display: block;
      max-width: 30px;
      width: 30px;
      min-width: 30px;
      max-height: 30px;
      height: 30px;
      min-height: 30px;
      border-radius: 50%;
      background-size: 100%;
      animation: animation-objects 20s linear infinite alternate;
      animation-duration: var(--duration);
      background: var(--color-bg-button-hover-gradient);
      box-shadow: var(--shadow-bg-obj1);
    }

    span:nth-child(3n +1) {
      background: var(--color-bg-button-gradient);
      box-shadow: var(--shadow-bg-obj2);
    }
    span:nth-child(3n +2) {
      background: var(--color-background-gradient);
      box-shadow: var(--shadow-bg-obj3);
    }
  }
}

@keyframes animation-objects {
  0% {
    background-size: 100% 100%;
    transform: translateY(100vh) scale(0);
  }
  100% {
    background-size: 400% 400%;
    transform: translateY(-10vh) scale(1);
  }
}