.form_filter_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px;
  

  legend {
    text-align: center;
    background: var(--color2-text-gradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle)
  }
}

.filter_container {
  all: unset;
  max-width: 100%;
  width: var(--width-web-content);
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

  .filter_icon_label{
    width: clamp(40px, 7vw, 84px);
    height: clamp(40px, 7vw, 84px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: clamp(5px, 2%, 5px);

    .filter_icon_container{
      width: 100%;
      height: 100%;

      > * {
        width: 100%;
        height: 100%;
      }
    }

    .filter_icon_checkbox {
      width: 100%;
      height: 100%;
    }

    .js {
      transition: transform .3s ease-in-out;
    }
    .react {
      transition: transform .3s ease-in-out;
    }
    .css {
      transition: transform .3s ease-in-out;
    }
    .html {
      transition: transform .3s ease-in-out;
    }
    .ts {
      transition: transform .3s ease-in-out;
    }
    .git {
      transition: transform .3s ease-in-out;
    }
    .gitHub {
      transition: transform .3s ease-in-out;
    }
    .gsap {
      transition: transform .3s ease-in-out;
    }

    &:hover .js {
      transform: scale(1.2);
      color: #F7DF1E;
    }
    &:hover .react {
      transform: scale(1.2);
      color: #61DAFB;
    }
    &:hover .css {
      transform: scale(1.2);
      color: #1572B6;
    }
    &:hover .html {
      transform: scale(1.2);
      color: #E34F26;
    }
    &:hover .ts {
      transform: scale(1.2);
      color: #3178C6;
    }
    &:hover .git {
      transform: scale(1.2);
      color: #F05032;
    }
    &:hover .gitHub {
      transform: scale(1.2);
      fill: #181717;
      circle {
        fill: #F05032;
      }
    }
    &:hover .gsap {
      transform: scale(1.2);
      > * {
        fill: #0ae448;
      }
    }

    .filter_icon_checkbox:checked ~ div .js {
      color: #F7DF1E;
    }
    .filter_icon_checkbox:checked ~ div .react {
      color: #61DAFB;
    }
    .filter_icon_checkbox:checked ~ div .css {
      color: #1572B6;
    }
    .filter_icon_checkbox:checked ~ div .html {
      color: #E34F26;
    }
    .filter_icon_checkbox:checked ~ div .ts {
      color: #3178C6;
    }
    .filter_icon_checkbox:checked ~ div .git {
      color: #F05032;
    }
    .filter_icon_checkbox:checked ~ div .gitHub {
      fill: #181717;
      circle {
        fill: #F05032;
      }
    }
    .filter_icon_checkbox:checked ~ div .gsap > * {
      fill: #0ae448;
    }
  }
}