.form_filter_container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 50px;
  

  legend {
    text-align: center;
    background: var(--color2-text-gradient);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle)
  }
}

.filter_container {
  all: unset;
  max-width: 100%;
  width: var(--width-web-content);
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;

  .filter_icon_label{
    width: clamp(40px, 7vw, 84px);
    height: clamp(40px, 7vw, 84px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: clamp(5px, 2%, 5px);

    .filter_icon_container{
      width: 100%;
      height: 100%;

      > * {
        width: 100%;
        height: 100%;
      }
    }

    .filter_icon_checkbox {
      width: 100%;
      height: 100%;
    }

    .js > svg {
      transition: transform .3s ease-in-out;
    }
    .react > svg {
      transition: transform .3s ease-in-out;
    }
    .css > svg {
      transition: transform .3s ease-in-out;
    }
    .tailwind > svg {
      transition: transform .3s ease-in-out;
    }
    .html > svg {
      transition: transform .3s ease-in-out;
    }
    .ts > svg {
      transition: transform .3s ease-in-out;
    }
    .git > svg {
      transition: transform .3s ease-in-out;
    }
    .gitHub > svg {
      transition: transform .3s ease-in-out;
    }
    .gsap > svg {
      transition: transform .3s ease-in-out;
    }

    &:hover .js > svg {
      transform: scale(1.2);
      color: #F7DF1E;
    }
    &:hover .react > svg {
      transform: scale(1.2);
      color: #61DAFB;
    }
    &:hover .css > svg {
      transform: scale(1.2);
      color: #1572B6;
    }
    &:hover .tailwind > svg {
      transform: scale(1.2);
      color: #06B6D4;
    }
    &:hover .html > svg {
      transform: scale(1.2);
      color: #E34F26;
    }
    &:hover .ts > svg {
      transform: scale(1.2);
      color: #3178C6;
    }
    &:hover .git > svg {
      transform: scale(1.2);
      color: #F05032;
    }
    &:hover .gitHub > svg {
      transform: scale(1.2);
      fill: #F05032;
      circle {
        fill: #181717;
      }
    }
    &:hover .gsap > svg {
      transform: scale(1.2);
      > * {
        fill: #0ae448;
      }
    }

    .filter_icon_checkbox:checked ~ .js > svg {
      color: #F7DF1E;
    }
    .filter_icon_checkbox:checked ~ .react > svg {
      color: #61DAFB;
    }
    .filter_icon_checkbox:checked ~ .css > svg {
      color: #1572B6;
    }
    .filter_icon_checkbox:checked ~ .tailwind > svg {
      color: #06B6D4;
    }
    .filter_icon_checkbox:checked ~ .html > svg{
      color: #E34F26;
    }
    .filter_icon_checkbox:checked ~ .ts > svg {
      color: #3178C6;
    }
    .filter_icon_checkbox:checked ~ .git > svg {
      color: #F05032;
    }
    .filter_icon_checkbox:checked ~ .gitHub > svg {
      fill: #F05032;
      circle {
        fill: #181717;
      }
    }
    .filter_icon_checkbox:checked ~ .gsap > svg > * {
      fill: #0ae448;
    }
  }
}